<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.mlkit.vision"
    android:installLocation="auto">

<!--    <uses-sdk-->
<!--        tools:overrideLibrary="-->
<!--          androidx.camera.camera2, androidx.camera.core,-->
<!--          androidx.camera.view, androidx.camera.lifecycle" />-->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="Stare-Down"
        android:theme="@style/Theme.AppCompat">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Optional: Add it to automatically download ML model to device after
          your app is installed.-->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica"/>

        <activity
            android:name=".LivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
